<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="elem : ${news}">
        <h1 th:text="${elem.getTitle()}" />
        <span style="font-size:8px" th:text="${elem.getCreateDate()}" />
        <div th:text="${elem.getText()}" />
    </div>
    <div id="embeddedFlow">
        <a id="startFlow" href="embedded-flow">Start Embedded Flow</a>
        <script type="text/javascript">
				Spring.addDecoration(new Spring.AjaxEventDecoration({elementId:"startFlow",event:"onclick",params:{fragments:"body",mode:"embedded"}}));
			</script>
    </div>
</body>
</html>